{% extends 'includes/layout.html' %}

{% block body %}
<main class="container">
  <div class="bg-light p-5 rounded mt-5">
    <h1>dean.guru AI Home</h1>
    <p class="lead">This is a project of mine to explore cloud automation as well as AI concepts.
    </p>
    <p class="lead">Feel free to use any of these tools for fun! </p>
  </div>

  <div class="p-5 rounded mt-1">
    <div class="row">

      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            Recipe Generator
          </div>
          <div class="card-body">
            <h5 class="card-title"> 🍕 Generate Recipes ️</h5>
            <p class="card-text">Generate random recipes with ingredients here.</p>
            <a href="/recipe-generator" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->

    </div>
  </div>
</main>
{% endblock %}